Source: haskell-clckwrks-dot-com
Priority: extra
Section: haskell
Maintainer: Jeremy Shaw <jeremy@seereason.com>
Build-Depends: debhelper (>= 7.0),
               haskell-devscripts (>= 0.8),
               cdbs,
               ghc,
               ghc-prof,
               libghc-base-dev (<< 5) | ghc,
               libghc-base-prof (<< 5) | ghc-prof,
               libghc-bytestring-dev (>= 0.9) | ghc,
               libghc-bytestring-dev (<< 0.10) | ghc,
               libghc-bytestring-prof (>= 0.9) | ghc-prof,
               libghc-bytestring-prof (<< 0.10) | ghc-prof,
               libghc-clckwrks-dev (>= 0.6),
               libghc-clckwrks-dev (<< 0.7),
               libghc-clckwrks-prof (>= 0.6),
               libghc-clckwrks-prof (<< 0.7),
               libghc-clckwrks-plugin-media-dev,
               libghc-clckwrks-plugin-media-prof,
               libghc-clckwrks-theme-clckwrks-dev,
               libghc-clckwrks-theme-clckwrks-prof,
               libghc-containers-dev (>= 0.4) | ghc,
               libghc-containers-dev (<< 0.5) | ghc,
               libghc-containers-prof (>= 0.4) | ghc-prof,
               libghc-containers-prof (<< 0.5) | ghc-prof,
               libghc-mtl-dev (>= 2.0),
               libghc-mtl-dev (<< 2.3),
               libghc-mtl-prof (>= 2.0),
               libghc-mtl-prof (<< 2.3),
               libghc-text-dev,
               libghc-text-prof,
               libghc-web-routes-dev (>= 0.27),
               libghc-web-routes-dev (<< 0.28),
               libghc-web-routes-prof (>= 0.27),
               libghc-web-routes-prof (<< 0.28),
               libghc-web-routes-happstack-dev,
               libghc-web-routes-happstack-prof,
               libghc-web-routes-th-dev (>= 0.21),
               libghc-web-routes-th-dev (<< 0.22),
               libghc-web-routes-th-prof (>= 0.21),
               libghc-web-routes-th-prof (<< 0.22),
               happstack-debianization (>= 0.13)
Build-Depends-Indep: ghc-doc,
                     libghc-base-doc (<< 5) | ghc-doc,
                     libghc-bytestring-doc (>= 0.9) | ghc-doc,
                     libghc-bytestring-doc (<< 0.10) | ghc-doc,
                     libghc-clckwrks-doc (>= 0.6),
                     libghc-clckwrks-doc (<< 0.7),
                     libghc-clckwrks-plugin-media-doc,
                     libghc-clckwrks-theme-clckwrks-doc,
                     libghc-containers-doc (>= 0.4) | ghc-doc,
                     libghc-containers-doc (<< 0.5) | ghc-doc,
                     libghc-mtl-doc (>= 2.0),
                     libghc-mtl-doc (<< 2.3),
                     libghc-text-doc,
                     libghc-web-routes-doc (>= 0.27),
                     libghc-web-routes-doc (<< 0.28),
                     libghc-web-routes-happstack-doc,
                     libghc-web-routes-th-doc (>= 0.21),
                     libghc-web-routes-th-doc (<< 0.22)
Standards-Version: 3.9.1
Homepage: http://clckwrks.com/

Package: clckwrks-dot-com-utils
Architecture: any
Section: misc
Depends: ${shlibs:Depends}, ${haskell:Depends}, ${misc:Depends}
Description: clckwrks.com

Package: clckwrks-dot-com-production
Architecture: all
Section: misc
Depends: ${shlibs:Depends}, ${haskell:Depends}, ${misc:Depends}, clckwrks-dot-com-server
Description: Server clckwrks.com
 Server clckwrks.com
 .
  Author: David Fox <dsf@seereason.com>, Clifford Beshers <beshers@seereason.com>
  Upstream-Maintainer: Clifford Beshers <beshers@seereason.com>

Package: clckwrks-dot-com-staging
Architecture: all
Section: misc
Depends: ${shlibs:Depends}, ${haskell:Depends}, ${misc:Depends}
Description: Server clckwrks.com
 Server clckwrks.com
 .
  Author: David Fox <dsf@seereason.com>, Clifford Beshers <beshers@seereason.com>
  Upstream-Maintainer: Clifford Beshers <beshers@seereason.com>

Package: clckwrks-dot-com-testing
Architecture: all
Section: misc
Depends: ${shlibs:Depends}, ${haskell:Depends}, ${misc:Depends}
Description: Server clckwrks.com
 Server clckwrks.com
 .
  Author: David Fox <dsf@seereason.com>, Clifford Beshers <beshers@seereason.com>
  Upstream-Maintainer: Clifford Beshers <beshers@seereason.com>

Package: clckwrks-dot-com-server
Architecture: any
Section: misc
Depends: ${shlibs:Depends}, ${haskell:Depends}, ${misc:Depends}, libjs-jquery, libjs-jquery-ui, libjs-jcrop
Description: Server clckwrks.com
 Server clckwrks.com
 .
  Author: David Fox <dsf@seereason.com>, Clifford Beshers <beshers@seereason.com>
  Upstream-Maintainer: Clifford Beshers <beshers@seereason.com>

Package: clckwrks-dot-com-backups
Architecture: any
Section: misc
Depends: ${shlibs:Depends}, ${haskell:Depends}, ${misc:Depends}, anacron
Description: backup program for the clckwrks.com site
  Install this somewhere other than where the server is running get
  automated backups of the database.
