#!/usr/bin/make -f

DEB_CABAL_PACKAGE = clckwrks-dot-com

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/hlibrary.mk

makebuilddir::
	SITENAME=clckwrks.com SERVERADMIN=jeremy@seereason.com PROXYPORT=9029 TESTINGPORT=8000 happstack-debianization-install

# Required for packages with no Library section in their cabal file
build/clckwrks-dot-com-server:: build-ghc-stamp

binary-fixup/clckwrks-dot-com-server::
	install -Dp -m 755 dist-ghc/build/clckwrks-dot-com-server/clckwrks-dot-com-server debian/clckwrks-dot-com-server/usr/bin/clckwrks-dot-com-server
	echo -n 'haskell:Depends=' >> debian/clckwrks-dot-com-server.substvars
	dpkg-query -W -f='haskell-clckwrks-theme-clckwrks-utils (=$${Version})' libghc-clckwrks-theme-clckwrks-dev >> debian/clckwrks-dot-com-server.substvars
	dpkg-query -W -f=', haskell-clckwrks-plugin-media-utils (=$${Version})' libghc-clckwrks-plugin-media-dev >> debian/clckwrks-dot-com-server.substvars
	dpkg-query -W -f=', haskell-clckwrks-plugin-bugs-utils (=$${Version})'  libghc-clckwrks-plugin-bugs-dev  >> debian/clckwrks-dot-com-server.substvars
	dpkg-query -W -f=', haskell-clckwrks-utils (=$${Version})\n' libghc-clckwrks-dev >> debian/clckwrks-dot-com-server.substvars

binary-fixup/clckwrks-dot-com-data::
	find theme -type f | while read i; do \
	  install -Dp $$i debian/clckwrks-dot-com-data/usr/share/clckwrks-dot-com-data/$$i; \
	done

binary-fixup/clckwrks-dot-com-backups::
	install -Dps -m 755 dist-ghc/build/clckwrks-dot-com-backups/clckwrks-dot-com-backups debian/clckwrks-dot-com-backups/etc/cron.hourly/clckwrks-dot-com
