@import url(http://fonts.googleapis.com/css?family=Gudea);
body
{
/* font-family:"Lucida Sans Unicode","Lucida Grande","Trebuchet MS",Helvetica,Arial,sans-serif;*/
 font-family: 'Gudea', Verdana,Arial,sans-serif;
/* font-family: Arial, Helevtica, Verdana, san-serif;  */
 font-size: 13px;
/*  background-color: #dde7eb; */
/* background: #e0ffe0; */

 line-height: 1.8;
 outline-color: #333;
 outline-style: none;
 outline-width:  0px;
 color: #555;
 padding: 0;
 margin: 0;
 background: white;
/*
 background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAFUlEQVQIHWNgYGAw/v//PwMjiAABADusBi/shrLOAAAAAElFTkSuQmCC) repeat; 
 background-color: #ef0f;
*/

/* background:url('http://ak5.picdn.net/shutterstock/videos/1278652/preview/stock-footage-light-seamless-background.jpg') repeat;  */




/*    background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAFUlEQVQIHWNgYGAw/v//PwMjiAABADusBi/shrLOAAAAAElFTkSuQmCC) repeat; */
/*    position: absolute;
    width: 100%;
    margin-top: 3em;
    height: 400px;
    border-radius: 10px;
    opacity: 0.5; */


}

h1.page-title
{
    font-size: 1.75em;
}

h1
{
    font-weight: normal;
    margin-top: 0;
    font-size: 1.5em;
    border-bottom: 1px dotted #ddd;
    margin-bottom: 2em;
    margin-top: 2em;
/*    margin-left: -1em;*/
}

h2
{

    font-size: 1.25em;
/*    margin-left: -1em; */
}

#logo
{
    margin: auto;
    width: 500px;
}

#logo img
{
    width: 500px;
    height: 500px;
}

#page-content
{
    margin-top: 0;
    padding-top: 0;
    margin-left: 15em;
    margin-right: 15em;
}

#menu-logo
{
    position: absolute;
    font-size: 2em;
    color: #777;
    padding-left: 1em;
}


.page-menu
{

}

div.page-menu
{
    box-shadow: 0 0 10px 0 #525F0E;
}

.menu-inner-div
{
    margin-bottom: 1em;
    text-align: center;
    background: #D3F32D;
    padding-bottom: 2em;
    line-height: 1;
    padding-top: 1em;
}

.page-menu ul
{
    display: inline;
    font-size: 1.5em;
    list-style-type: none;
    margin: 0;
    padding: 0 0 0 10em;
}

.page-menu li
{
    display: inline;
    background-color: #B8D32C;
    margin-right: 1em;

    white-space: nowrap;
    border-radius: 0 0 10px 10px;
    padding-top: 0;
    margin-top: 0;
    padding-bottom: 0.5em;
    padding-top: 0.5em;

}

.page-menu a
{
    text-decoration: none;
    color: white;
    border-bottom: 1px dotted white;
    padding-left: 1em;
    padding-right: 1em;
    font-weight: bold;
    display: inline;
    white-space: nowrap;
}

.page-menu li:hover
{
    background: white;
}

.page-menu li:hover a
{
    color: #B8D32C;
    border-bottom: 1px dotted #B8D32C;
}



#background-box
{
    position: absolute;
    background: #fff;
/*     background: #F2FBFF; */
    width: 100%;
    height: 500px;
    z-index: -1;
/*    box-shadow: 0px 0px 10px 0px #aaa;  */
}

.img-text {
    position: absolute;
    width: 800px;
    height: 100px;
    top: 400px;
    color: #555;
    padding: 1em;
    font-size: 14px;
    line-height: 75px;
    display: none;
}

.img-text-bg {
    position: absolute;
    width: 800px;
    height: 100px;
    top: 400px;
    background: white;
    opacity: 0.8;
    display: none;
/*    border-radius: 0 0 10px 10px; */
}

.mesh {
    background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAFUlEQVQIHWNgYGAw/v//PwMjiAABADusBi/shrLOAAAAAElFTkSuQmCC) repeat;
    position: absolute;
    width: 100%;
    margin-top: 3em;
    height: 400px;
    border-radius: 10px;
    opacity: 0.5;
    display: none;
}

#banner-box
{
    background: white;
/*    text-align: center; */
/*    background: white; */
}

#banner-box img
{
/*    margin-top: 5em; */
/*    margin-top: -2em;*/
    height: 150px;
}
/*
#banner-box
{
    width: 800px;
    height: 400px;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 80px;
    box-shadow: 0px 0px 10px 0px #aaa;
    border-radius: 10px;
}


#banner-box img
{
    border-radius: 10px;

}
*/

.summary-box
{
    width: 30%;
    display: inline-block;
    margin-right: 3%;
    vertical-align: text-top;
}

.summary-box img
{
    width: 70px;
    padding-right: 0.5em;
    float: left;
}

.summary-boxes
{
    margin: auto;
    width: 60%;
    font-size: 14px;
}

#footer
{
    height: 200px;
    background-color: #333;
    margin-top: 25em;
    padding: 1em;
    color: #aaa;
}

#footer a
{
    color: #aaa;
}

#copyright
{
    padding-top: 150px;
    text-align: center;
}

/* blockquote */

blockquote
{
    font-family: Georgia,"Times New Roman",Times,serif;
    font-style: italic;
    text-align: center;
    font-size: 1.4em;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin-top: 1em;
    margin-bottom: 1em;
    padding-top: 0;
    padding-bottom: 0;
    line-height: 1.2;
}

blockquote > p
{
    padding: 0;
    margin: 0;
}

.big-quote
{
    font-size: 500%;
    vertical-align: middle;
    color: #ccc;
}

.quote-author
{
    font-style: italic;
    font-size: 0.8em;
    color: #888;
}

#blog-content
{
/*    border: 1px solid #ddd;
    box-shadow: 0px 3px 10px 5px #dfdfdf; */
    padding-bottom: 1em;
    margin-left: 15em;
    margin-right: 15em;
    margin-top: 1em;
    background: white;

}

#blog-content h1
{
    margin-left: 0.5em;
    margin-top: 0em;
    margin-bottom: 0em;
    font-size: 2em;
    font-weight: bold;
}

#blog-content h2
{
    margin-top: 0.5em;
    margin-left: 0;
    margin-bottom: 0;
    font-size: 1.75em;
    color: #36afdc;
    font-weight: bold;
}

.pub-date
{
    font-size: 0.8em;
    font-style: italic;
    color: #bbb;
}

.blog-posts
{
}

ol.blog-posts
{
    list-style-type: none;
}

.blog-posts li
{
    border-bottom: 1px dotted #aaa;
}