@import url(http://fonts.googleapis.com/css?family=Ubuntu+Mono);
@import url(http://fonts.googleapis.com/css?family=Lora);
@import url(http://fonts.googleapis.com/css?family=Oswald);


body
{
 font-size: 14px;
 line-height: 1.8;
 outline-color: #333;
 outline-style: none;
 outline-width:  0px;
 color: black;
 padding: 0;
 margin: 0;
 background: white;
 min-width: 700px;
}

/* Fonts */

body
{
   font-family: 'Lora', sans-serif;
}

h1, h2, h3
{
    font-family: 'Oswald', serif;
    color: #000;
}

h1.page-title
{
    font-size: 2em;
}

h1
{
    font-size: 1.75em;
}

h2
{
    font-size: 1.25em;
}

.page-menu a
{
    font-family: 'Oswald';
}

pre
{
    font-family: 'Ubuntu Mono';
}


#logo
{

    width: 45em;
    text-align: center;
    display: none;
}

#logo img
{
    width: 300px;
    height: 300px;
}

#page-content
{
    margin-top: 0;
    padding-top: 0;
    margin-left: 15em;
    margin-right: 15em;
}

#menu-logo
{
    font-family: 'Oswald';
    position: absolute;
    font-size: 2em;
    color: #888;
    padding-left: 1em;
    margin-top: -0.45em;
    text-decoration: none;
    font-weight: normal;
    border: none;
}

.page-menu
{

}

div.page-menu
{
    box-shadow: 0 0 10px 0 #444;
}

.menu-inner-div
{
    margin-bottom: 1.5em;

    background: #000;
    width: 100%;
    overflow: visible;
/*    background: #5A9E3A;*/
/*    background: #5A9E3A;  */
/*    padding-bottom: 2em; */
    line-height: 1;
    padding-top: 1em;
}

.page-menu ul
{
    display: inline;
    font-size: 1em;
    list-style-type: none;
    margin: 0;
    padding: 0 0 0 15em;
}

.page-menu li
{
    display: inline;
}

.page-menu li > a, #login-link a
{
    display: inline;
    text-decoration: none;
    background-color: #04888D;
    margin-right: 1em;
    color: white;
    white-space: nowrap;
    border-radius: 0 0 10px 10px;
    padding-top: 0;
    margin-top: 0;
    padding-bottom: .9em;
    padding-top: 1em;
    box-shadow: 0 0 3px 0 #444;
    padding-left: 1em;
    padding-right: 1em;
}

.page-menu li > a:hover, #login-link a:hover
{
    background: white;
    color: #04888D;
}

.summary-box
{
    width: 13em;
    display: inline-block;
    margin-right: 2em;
    vertical-align: text-top;
}

.summary-box img
{
    width: 70px;
    padding-right: 0.5em;
    float: left;
}

.summary-boxes
{
    width: 45em;
}

.summary-boxes p
{
    width: auto;
}

p
{
    width: 45em;
}

#footer
{
/*    height: 20px; */
    background-color: #333;
    margin-top: 25em;
    padding: 1em;
    color: #aaa;
}

#footer a
{
    color: #aaa;
}

#copyright
{
/*    padding-top: 150px;*/
    text-align: center;
}

/* blockquote */

blockquote
{
/*    font-family: Georgia,"Times New Roman",Times,serif;*/
/*    font-family: 'Lora', sans-serif;*/
    font-style: italic;
    padding: 0;
    margin: 0;
    line-height: 1;
}

blockquote > p
{
    padding: 0;
    margin: 0;
    width: 100%;
}

.big-quote
{
    font-size: 500%;
    vertical-align: middle;
    color: #ccc;
    margin: 0;
    padding: 0;
}

.quote-author
{
    font-style: italic;
    font-size: 0.8em;
    color: #888;
}

#blog-content
{
/*    border: 1px solid #ddd;
    box-shadow: 0px 3px 10px 5px #dfdfdf; */
/*
    padding-bottom: 1em;
    margin-left: 15em;
    margin-right: 15em;
    margin-top: 1em; */
    background: white;

}

.pub-date
{
    font-size: 0.8em;
    font-style: italic;
    color: #bbb;
}

.blog-posts
{
}

ol.blog-posts
{
    list-style-type: none;
}

.blog-posts li
{
    border-bottom: 1px dotted #aaa;
}